.sign-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  color: white;
  background-color: #5503bb;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  // background: @layout-body-background;

  .sign-tabs-container {
    width: 368px;
    margin: 60px auto 0;

    .ant-divider-horizontal.ant-divider-with-text-center::before,
    .ant-divider-horizontal.ant-divider-with-text-center::after {
      border-top: 1px solid #ccc;
    }

    .ant-tabs-tab .ant-tabs-tab-btn {
      color: #ccc;
      font-weight: 500;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #4285f4;
    }
  }
}
